<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.task.repository.FileExtensionMapper">

    <insert id="save">
        INSERT INTO file_extension_blocking(extension_name, fixed_extension, checked)
        VALUES (#{extensionName}, #{fixedExtension}, #{checked})
    </insert>

    <update id="update">
        UPDATE file_extension_blocking
        SET checked = #fileExtensionParam{fileExtensionParam.checked}
        WHERE 1=1
            AND extension_name = #{fileExtensionParam.extensionName}
    </update>

    <select id="findFixedExtension" resultType="FileExtension">
        SELECT id, extension_name, fixed_extension, checked
        FROM file_extension_blocking
        WHERE 1=1
            AND fixed_extension = 'Y'
    </select>

    <select id="findNotFixedExtension" resultType="FileExtension">
        SELECT id, extension_name, fixed_extension, checked
        FROM file_extension_blocking
        WHERE 1=1
          AND fixed_extension = 'N'
    </select>

    <select id="findByExtensionName" resultType="FileExtension">
        SELECT id, extension_name, fixed_extension, checked
        FROM file_extension_blocking
        WHERE 1=1
            AND extension_name = #{extensionName}
    </select>

</mapper>