<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>파일 확장자 차단</title>
    <link type="text/css" th:href="@{/style.css}"  rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/script.js}"></script>


</head>
<body>
    <h1>◎ 파일 확장자 차단</h1>
    <hr>
    <p class="description">파일 확장자에 따라 특정 형식의 파일을 첨부하거나 복사하지 못하도록 제한</p>
    <table>
        <tr>
            <td><p>고정 확장자</p></td>
            <td>
                <th:block th:each="extension : ${fixedExtensions}">
                    <input type="checkbox" class="fixed-extension-checkbox" th:checked="${extension.checked == 'Y'}">
                    <span th:text="${extension.extensionName}"></span>
                </th:block>
            </td>
        </tr>
        <tr>
            <td><p>커스텀 확장자</p></td>
            <td>
                <input type="text" class="custom-extension-input">
                <button class="custom-extension-add-button">+추가</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="custom-extension-list">

                    <div class="flex-container">
                        <div class="custom-extension-count">
                            <span th:text="${notFixedExtensions.size()} + '/' + ${maxCustomExtension}" id="displayValue" style="color: gray;"></span>
                        </div>
                    </div>

                    <div class="flex-container">
                        <div class="custom-extension-buttons" th:if="${notFixedExtensions != null}">
                            <div th:each="extension : ${notFixedExtensions}">
                                <button th:text="${extension.extensionName} + ' X'"></button>
                            </div>
                        </div>
                        <div th:unless="${notFixedExtensions != null}" class="custom-extension-buttons">

                        </div>
                    </div>


                </div>

            </td>
        </tr>
    </table>
</body>
</html>